<div [formGroup]='jcFormGroup'>
    <label>
        {{jcFormControl.options?.label}}
        <app-dynamic-text-input
            [jcFormControl]='jcFormControl'
            [jcFormGroup]='jcFormGroup'

            [placeholder]='jcFormControl.options?.placeholder'
            [isDisabled]='jcFormControl.options?.isDisabled'
            [isReadonly]='jcFormControl.options?.isReadonly'
            [hasAutocomplete]='jcFormControl.option?.hasAutocomplete'
            [type]='jcFormControl.options?.type'
            [pattern]='jcFormControl.option?.pattern'
        ></app-dynamic-text-input>
        <!-- <validation [options]='options' [jcFormGroup]='jcFormGroup' -->
    </label>
</div>